<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="stylesheet" href="../../stylesheet/login.css">
    <%- include('../partials/dependencies') %>
</head>
<body>
    <header>
        <div class="contain">
            <h1>Log-In</h1>
            <form action="/login" method="post">
                <input type="text" name="email" placeholder="Email" required>
                <input type="text" name="password" placeholder="Password" required>
                <button type="submit">login</button>
            </form>
            <p>Don't have a account? <a href="/register">Register</a></p>
        </div>
    </header>
    <%- include('../partials/footer') %>
</body>
</html>
