<link rel="stylesheet" href="../../stylesheet/admin-navbar.css">

<div class="navbar">
    <div class="logo">
        <h1 onclick="window.location.href='/'">blvckmark admin dashboard</h1>
    </div>
</div>