<%- include('./dependencies') %>
<link rel="stylesheet" href="../../stylesheet/footer.css">

<footer>
  <div class="footer-content">
    <h1>blvckmark</h1>
    <p>All India Shipping | Limited Edition Drops<br>Redefining streetwear with bold designs & limited drops. Stay ahead, stay exclusive.</p>
  </div>
</footer>