*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --pri-font: "Jersey 10", sans-serif;
    --sec-font: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: var(--pri-font);
  font-size: 20rem;
  color: #ff0000;
  letter-spacing: 1px;
}

p{
  font-family: var(--sec-font);
  font-size: 1rem;
  color: #000000;
}

a button{
    padding: 10px 30px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-transform: capitalize;
    &:hover{
        animation: effect;
        animation-duration: 1s;
        background-color: transparent;
        color: black;
    }
}

@keyframes effect {
    30%{
        transform: translate(5px, 5px);
        box-shadow: 10px 10px black;
    }
    70%{
        transform: translate(-10px, -10px);
        box-shadow: -10px -10px black;
    }
    100%{
        transform: translate(0px, 0px);
    }
}