*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --pri-font: "Jersey 10", sans-serif;
    --sec-font: "Poppins", sans-serif;
}

body{
    height: 100%;
    width: 100%;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    height: 100vh;
    width: 100%;
}

.main{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.main h1{
    font-family: var(--pri-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.main form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, button{
    padding: 10px 30px;
    text-transform: capitalize;
    font-family: var(--sec-font);
    color: black;
    border: none;
    background-color: #ccc;
}

form button{
    cursor: pointer;
    background-color: black;
    color: white;
}