<!-- views/404.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="../stylesheet/404.css">
    <%- include('./partials/dependencies.ejs') %>
</head>
<body>
    <h1>404</h1>
    <p>The page you are looking for does not exist.</p>
    <a href="/"><button>Go to homepage</button></a>
</body>
</html>
